################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/test/Utg.Parking.Api.Test/obj
/test/Utg.Parking.Api.Test/bin/Debug/netcoreapp3.1
